<div #aboutMeComponentDiv class="about-me-div overflow-hidden">
    <div class="container">
        <h1 [@fadeInFromLeft]>Who Am I?</h1>
        <div class="row margin-top-10 justify-content-around">
            <div class="col-sm-12 col-md-6 text-center">
                <img [@fadeInFromLeft] class="about-me-img" src="images/about-me.jpg">
            </div>
            <div class="col-sm-12 col-md-6">
                <h2 [@fadeInFromRight]>Barath Raj Thangaraju</h2>
                <p [@fadeInFromRight] class="mt-3">Highly motivated and results-oriented <b>Front-End Developer</b> with <b>3.3+ years of experience</b> in <b>Angular</b>. Proven ability to design, develop, and implement user-friendly and high-performance web applications using a strong foundation in <b>HTML, CSS, JavaScript, TypeScript, Bootstrap, and RxJS.</b> Proven track record of success in contributing to <b>e-commerce website development, task management tool development etc</b>. Eager to contribute to innovative projects and continuously expand my skills in the evolving world of web development.</p>
            </div>
        </div>
    </div>
    <div class="container margin-top-5">
        <h2 [@fadeInFromLeft] class="text-center category-heading">Skills and Expertise</h2>
        <div class="row">
            <div [@fadeInFromRight] class="margin-top-5 col-4 text-center">
                <img class="skill-icon" src="images/angular-icon.png">
                <p class="font-weight-500 mt-4">Angular</p>
            </div>
            <div [@fadeInFromRight] class="margin-top-5 col-4 text-center">
                <img class="skill-icon" src="images/html-icon.png">
                <p class="font-weight-500 mt-4">HTML</p>
            </div>
            <div [@fadeInFromRight] class="margin-top-5 col-4 text-center">
                <img class="skill-icon" src="images/css-icon.png">
                <p class="font-weight-500 mt-4">CSS</p>
            </div>
            <div [@fadeInFromLeft] class="margin-top-5 col-4 text-center">
                <img class="skill-icon" src="images/js-icon.png">
                <p class="font-weight-500 mt-4">JavaScript</p>
            </div>
            <div [@fadeInFromLeft] class="margin-top-5 col-4 text-center">
                <img class="skill-icon" src="images/ts-icon.png">
                <p class="font-weight-500 mt-4">TypeScript</p>
            </div>
            <div [@fadeInFromLeft] class="margin-top-5 col-4 text-center">
                <img class="skill-icon" src="images/bootstrap-icon.png">
                <p class="font-weight-500 mt-4">Bootstrap</p>
            </div>
            <div [@fadeInFromRight] class="margin-top-5 col-4 text-center">
                <img class="skill-icon" src="images/rxjs-icon.png">
                <p class="font-weight-500 mt-4">RxJS</p>
            </div>
            <div [@fadeInFromRight] class="margin-top-5 col-4 text-center">
                <img class="skill-icon" src="images/vscode-icon.jpg">
                <p class="font-weight-500 mt-4">Visual Studio Code</p>
            </div>
            <div [@fadeInFromRight] class="margin-top-5 col-4 text-center">
                <img class="skill-icon" src="images/git-icon.png">
                <p class="font-weight-500 mt-4">Git</p>
            </div>
            <div [@fadeInFromLeft] class="margin-top-5 col-4 text-center">
                <img class="skill-icon" src="images/jira-icon.jpg">
                <p class="font-weight-500 mt-4">Jira</p>
            </div>
            <div [@fadeInFromLeft] class="margin-top-5 col-4 text-center">
                <img class="skill-icon" src="images/chrome-devtools-icon.png">
                <p class="font-weight-500 mt-4">Chrome DevTools</p>
            </div>
        </div>
    </div>
    <div class="container margin-top-5">
        <h2 [@fadeInFromLeft] class="category-heading">Profesional Experience</h2>
        <div [@fadeInFromRight] class="row">
            <h6 class="font-weight-500 mt-4">September 2024 - Present</h6>
            <h4 class="mt-2">Hamly Business Solutions</h4>
            <h6>Software Engineer</h6>
            <p class="mt-2"><b>Developed and maintained the front-end of a robust task management tool</b> using Angular, TypeScript, and HTML5/CSS3. <b>Implemented responsive design principles</b> to ensure optimal user experience across various devices. <b>Successfully integrated front-end with backend APIs</b>. Utilized <b>advanced Angular features</b> like components, directives, services, and dependency injection to create modular and efficient code. Wrote <b>clean, well-documented, and maintainable code</b> adhering to best practices. Leveraged <b>RxJS</b> for efficient asynchronous programming and reactive data streams. Stayed updated with the <b>latest Angular and front-end development trends and technologies.</b></p>
        </div>
        <div [@fadeInFromLeft] class="row">
            <h6 class="font-weight-500 mt-4">September 2022 - July 2022</h6>
            <h4 class="mt-2">Grid Dynamics</h4>
            <h6>Software Engineer</h6>
            <p class="mt-2">Contributed to the <b>development of a seamless user enrollment process</b> specifically designed for the Indian market <b>of an e-commerce platform</b>. <b>Created tailored forms to capture vital user data</b> like Aadhaar numbers, adhering to Indian regulations. Successfully <b>integrated front-end with backend APIs</b>. Introduced a document capture functionality by <b>integrating the device camera for image acquisition and upload</b>, enhancing user access. <b>Contributed to develop a user-friendly customer care portal</b> that streamlines how inquiries are handled and offers real-time document status updates. This empowers customer service representatives to provide faster and more efficient support. Utilized problem-solving skills to <b>fix bugs after development</b>, ensuring uninterrupted service. <b>Collaborated effectively across teams</b>, providing technical expertise to drive project success.</p>
        </div>
        <div [@fadeInFromRight] class="row">
            <h6 class="font-weight-500 mt-4">July 2022 - August 2022</h6>
            <h4 class="mt-2">Solar Secure Solutions</h4>
            <h6>Web Development Intern</h6>
            <p class="mt-2">Assisting in the <b>development and maintenance of web applications</b>. Developed and optimized <b>responsive web applications</b> using Angular, HTML, CSS, JavaScript, TypeScript, Bootstrap and RxJS. <b>Collaborated with design teams</b> for optimal user experience across various devices. Debugging code to <b>identify and resolve issues.</b></p>
        </div>
        <div [@fadeInFromLeft] class="row">
            <h6 class="font-weight-500 mt-4">June 2021 - June 2022</h6>
            <h4 class="mt-2">Vill Chocolates</h4>
            <h6>Freelance Software Engineer</h6>
            <p class="mt-2">Worked in development and maintenance of <b>front-end development of an e-commerce platform</b>. Implemented <b>responsive</b> and user-centric designs, ensuring optimal user experience <b>across various devices. Collaborated with UI/UX designers</b> to translate designs into functional code. <b>Leveraged Angular components, directives, and services</b> to build reusable and efficient UI elements. Optimized application performance for fast loading times and smooth interactions. Successfully <b>integrated front-end with backend APIs.</b></p>
        </div>
    </div>
    <div class="container margin-top-5">
        <h2 [@fadeInFromLeft] class="category-heading">Education</h2>
        <div [@fadeInFromRight] class="row">
            <h5 class="mt-3">2020 | Panimalar Engineering College (Chennai, India)</h5>
            <h6>Bachelor Of Engineering - 67 %</h6>
        </div>
        <div [@fadeInFromLeft] class="row">
            <h5 class="mt-3">2016 | Sethu Bhaskara Matriculation Higher Secondary School (Chennai, India)</h5>
            <h6>HSC - 73 %</h6>
        </div>
        <div [@fadeInFromRight] class="row">
            <h5 class="mt-3">2014 | Vijayanta Senior Secondary School (Chennai, India)</h5>
            <h6>SSLC - 86 %</h6>
        </div>
    </div>
</div>
