<div #projectComponentDiv class="projects-div overflow-hidden">
    <h1 class="text-center" [@fadeInFromLeft]>Projects</h1>
    <div class="mt-3 container project-1">
        <h3 [@fadeInFromRight] class="mt-3">Ecommerce Website</h3>
        <div class="container">
            <div class="mt-3 row" [@fadeInGrow]>
                <img class="col-sm-12 col-md-6 mt-3" src="images/ecommerce-web-page-image.png">
                <img class="col-sm-12 col-md-6 mt-3" src="images/Customer-support-image.png">
            </div>
        </div>
        <ul [@fadeInFromRight] class="mt-4 mb-4">
            <li>Contributed significantly to the development and maintenance of <b>front-end components</b> for an <b>e-commerce
                platform</b>, focusing on <b>enhancing user experience</b> and streamlining key processes.</li>
            <li>Developed a <b>seamless user enrollment process</b> specifically <b>tailored for the Indian market</b>:
                <ul>
                    <li>Created tailored forms to capture essential data like Aadhaar numbers, adhering to Indian
                        regulations.</li>
                    <li>Successfully <b>integrated front-end and back-end APIs</b>.</li>
                    <li>Introduced a <b>document capture functionality</b> using <b>device cameras for image acquisition</b> and upload,
                        improving user accessibility.</li>
                </ul>
            </li>
            <li>Contributed to the development of a <b>user-friendly customer care portal</b>:
                <ul>
                    <li><b>Streamlined inquiry handling.</b></li>
                    <li>Provided <b>real-time document status updates</b>, empowering customer service representatives.</li>
                </ul>
            </li>
            <li>Implemented <b>responsive and user-centric designs</b>, ensuring optimal user experience across various devices.
            </li>
            <li><b>Collaborated closely with UI/UX designers</b>, translating designs into functional code.</li>
            <li>Leveraged <b>Angular components, directives, and services</b> to build reusable and efficient UI elements.</li>
            <li><b>Prioritized application performance, optimizing for fast loading times</b> and smooth interactions.</li>
            <li>Played a key role in post-development <b>bug fixing and troubleshooting</b>, ensuring uninterrupted service.</li>
            <li><b>Collaborated effectively across teams, providing technical expertise</b> and driving project success.</li>
        </ul>
    </div>
    <div class="mt-3 container project-1">
        <h3 class="mt-3" [@fadeInFromLeft]>Task Management Tool</h3>
        <div class="container">
            <div class="mt-3 row" [@fadeInGrow]>
                <img class="col-sm-12 col-md-6 mt-3" src="images/task-management-image.png">
                <img class="col-sm-12 col-md-6 mt-3" src="images/task-management-tool-image.png">
            </div>
        </div>
        <ul class="mt-4 mb-4" [@fadeInFromLeft]>
            <li>Developed and maintained the front-end of a robust task management tool using <b>Angular, TypeScript, HTML, CSS and bootstrap.</b></li>
            <li>Implemented <b>responsive design principles</b> to ensure optimal <b>user experience across various devices</b>.</li>
            <li>Successfully <b>integrated front-end with backend APIs.</b></li>
            <li>Utilized advanced Angular features like <b>components, directives, services, and dependency injection</b> to create modular and efficient code.</li>
            <li>Wrote clean, well-documented, and maintainable code adhering to best practices.</li>
            <li>Leveraged <b>RxJS</b> for efficient asynchronous programming and reactive data streams.</li>
            <li>Implemented <b>real-time updates using WebSockets to ensure immediate synchronization</b> of task changes across all clients</li>
            <li>Stayed updated with the latest Angular and front-end development trends and technologies.</li>
            <li>Implemented a full <b>calendar feature</b> with options to <b>create</b>, <b>edit</b>, and <b>delete events</b>, including support for <b>recurring events</b>.</li>
            <li>Designed and developed a <b>Gmail add-on</b> for the task management tool, enabling users to <b>create tasks</b> directly from <b>emails</b> without opening the app.</li>
        </ul>
    </div>
</div>