.developer-image{
    width: 80%;
}

.contact-me-container{
    height: 90vh;
}

.contact-me-container a{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
    text-decoration: none;
    font-size: 1.75rem;
}

.contact-me-container a:hover{
    color: #5959e3;
}

.z-index-neg-1001{
    z-index: -1001;
}

.overflow-hidden{
    overflow: hidden;
}

.contact-me-div{
    padding-top: 7vh;
    text-align: center;
}

.contact-icon img{
    width: 3vw;
}

.contact-icon{
    width: 1vw;
}

.contact-me-icons{
    display: flex;
    justify-content: center;
}

.margin-left-5{
    margin-left: 4vw;
}