.developer-image{
    width: 80%;
}

.home-container{
    height: 90vh;
    text-align: center;
}

.z-index-neg-1001{
    z-index: -1001;
}

.overflow-hidden{
    overflow: hidden;
}

.home-div{
    padding-top: 7vh;
}